In [1]:
#Assignment 2 (Cognitive Computing)
#NAME: Gagandeep Singh
#Roll No: 102317290

#Q1 list operations


L = [10, 20, 30, 40, 50, 60, 70, 80]

# (i) Add 200 and 300 to L
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

# (ii) Remove 10 and 30 from L
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

# (iii) Sort L in ascending order
L.sort()
print("Sorted in ascending order:", L)

# (iv) Sort L in descending order
L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [3]:
#Q2 Operations on tuple

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

# (i) Highest score and its index in the tuple
highest_score = max(scores)
print(f"Highest score: {highest_score}, at index: {scores.index(highest_score) }")

# (ii) Lowest score and its count
lowest_score = min(scores)
print(f"Lowest score: {lowest_score}, appears {scores.count(lowest_score)} time(s)")

# (iii) Reverse the tuple and return it as a list
reversed_scores = list(reversed(scores))
print("Reversed tuple as list:", reversed_scores)

# (iv) Check if a specific score ‘76’ is present
user_input = int(input("Enter the score to check: "))

if user_input in scores:
    print(f"The score {user_input} is present at index {scores.index(user_input) }")
else:
    print(f"The score {user_input} is not present in the tuple")

Highest score: 92, at index: 5
Lowest score: 45, appears 2 time(s)
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter the score to check: 76
The score 76 is present at index 2

In [4]:
import random

def is_prime(num):
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]


print(f"List of 100 random numbers: {random_numbers}")
print(f"\nCount of odd numbers: {len(odd_numbers)}")
print(f"Odd numbers: {odd_numbers}")
print(f"\nCount of even numbers: {len(even_numbers)}")
print(f"Even numbers: {even_numbers}")
print(f"\nCount of prime numbers: {len(prime_numbers)}")
print(f"Prime numbers: {prime_numbers}")

List of 100 random numbers: [161, 139, 345, 869, 210, 431, 332, 370, 374, 285, 835, 288, 827, 838, 623, 503, 324, 798, 132, 514, 166, 475, 703, 590, 443, 878, 392, 852, 713, 600, 564, 430, 371, 768, 753, 302, 394, 365, 696, 143, 272, 724, 473, 271, 169, 652, 670, 791, 394, 666, 665, 169, 358, 426, 503, 260, 213, 483, 725, 668, 469, 537, 473, 467, 450, 837, 669, 156, 565, 272, 462, 897, 346, 653, 554, 692, 826, 106, 567, 733, 487, 495, 637, 544, 166, 453, 846, 581, 260, 582, 191, 797, 696, 376, 241, 515, 504, 181, 409, 705]

Count of odd numbers: 51
Odd numbers: [161, 139, 345, 869, 431, 285, 835, 827, 623, 503, 475, 703, 443, 713, 371, 753, 365, 143, 473, 271, 169, 791, 665, 169, 503, 213, 483, 725, 469, 537, 473, 467, 837, 669, 565, 897, 653, 567, 733, 487, 495, 637, 453, 581, 191, 797, 241, 515, 181, 409, 705]

Count of even numbers: 49
Even numbers: [210, 332, 370, 374, 288, 838, 324, 798, 132, 514, 166, 590, 878, 392, 852, 600, 564, 430, 768, 302, 394, 696, 272, 724, 652, 670, 394, 666, 358, 426, 260, 668, 450, 156, 272, 462, 346, 554, 692, 826, 106, 544, 166, 846, 260, 582, 696, 376, 504]

Count of prime numbers: 16
Prime numbers: [139, 431, 827, 503, 443, 271, 503, 467, 653, 733, 487, 191, 797, 241, 181, 409]

In [7]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

# (i) Unique scores achieved by both teams
print(f"Unique scores (Union): {A | B}")

# (ii) Scores common to both teams
print(f"Common scores (Intersection): {A & B}")

# (iii) Scores exclusive to each team
print(f"Exclusive scores (Symmetric Difference): {A ^ B}")

# (iv) Check if A is a subset of B and if B is a superset of A
print(f"Is A a subset of B? {A.issubset(B)}")
print(f"Is B a superset of A? {B.issuperset(A)}")

# (v) Remove a specific score X from set A if it exists
X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A. Updated set A: {A}")
else:
    print(f"Score {X} is not present in set A.")

Unique scores (Union): {34, 45, 78, 23, 56, 90}
Common scores (Intersection): {90, 78}
Exclusive scores (Symmetric Difference): {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter a score to remove from set A: 78
Score 78 removed from set A. Updated set A: {56, 34, 90}

In [9]:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}